.section-featured {
    background: #6499E9;
    padding: 1rem 2rem;
}

.featured {
  margin: 4rem auto;
  display: grid;
  gap: 2.5rem;
}

.featured img {
    height: 225px;
}

.btn {
  display: block;
  width: 148px;
  margin: 0 auto;
  text-align: center;
}

